<!-- <div class="aboutUs-container">
    <div class="about-photo-rapper">
        <div class="about-photo-container"></div>
    </div>

    <div class="about-text-container">
        <p class="main-text">"Ние от Фирма А.С. Агенда ЕООД залагаме на качеството като стратегия за бъдещо развитие. За
            тази цел използваме най-модерните технологии на всички нива от производствения процес. Това ни дава
            увереност, че всички продукти, които предлагаме отговарят на най-високите изисквания за качество.
            Ние вярваме, че високото качество и коректността са основите на нашия успех и тенденцията ни за растеж."</p>
    </div>
</div> -->

<mat-card class="example-card">
    <img mat-card-image id="about-image" src="../../../assets/about.jpg" style="max-width: 70%;" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p class="about-text">
            Ние от Фирма А.С. Агенда ЕООД залагаме на качеството като стратегия за бъдещо развитие. За
            тази цел използваме най-модерните технологии на всички нива от производствения процес. Това ни дава
            увереност, че всички продукти, които предлагаме отговарят на най-високите изисквания за качество.
            Ние вярваме, че високото качество и коректността са основите на нашия успех и тенденцията ни за растеж.
        </p>
    </mat-card-content>

</mat-card>