<div class="app-footer-container">
    <div class="app-footer">
        <div class="footer-section1">
            <h1 class="footer-title">С.А. Агенда ЕООД</h1>
            <!-- <h1 class="footer-title">Вече 20 години избираме заедно прозорците за Вашия дом.</h1> -->
        </div>
        <div class="footer-section2">
            <div class="footer-section2-nav">
                <a routerLink="/">НАЧАЛО</a>
                <a routerLink="projects">ПРОЕКТИ</a>
                <a routerLink="aboutUs">ЗА НАС</a>
                <a routerLink="contactUs">КОНТАКТИ</a>
            </div>
            <div class="footer-section2-bottom">
                <p>
                    <mat-icon id="copyright-icon" svgIcon="copyright" aria-hidden="false"
                        aria-label="Example thumbs up SVG icon"></mat-icon>
                    2023 - Цвета Добрева. Всички права запазени. 
                </p>
            </div>
        </div>
        <div class="footer-section3">
            <mat-icon svgIcon="facebook" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>

            <mat-icon svgIcon="instagram" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>

            <mat-icon svgIcon="linkedin" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>

            <mat-icon svgIcon="youtube" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        </div>
    </div>
</div>