.contactUs-container {
    background: url('../../../assets/contactUs.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 85%;
    background-size: 100% 100%;
    background-position: center;
    flex-direction: column;
    align-content: center;
}

.contact-content-conteiner {
    width: 400px;
    display: block;
    margin: 0 auto;
}

#contact-submit-button {
    background-color: #000;
    color: #fff;
    margin-bottom: 10px;
}

.contact-card {
    text-align: center;
    margin: 10px;
}

.mat-form-field {
    width: 90%;
}

.mat-mdc-card-header {
    justify-content: center;
}

.mat-mdc-form-field {
    height: 65px;
}

.mat-form-field.textarea {
    height: 110px;
}